<% @title = "Почтовые рассылки" %>

<%= link_to "К списку", admin_mail_templates_path %>

<% if flash[:notice] %>
    <div style="border: 1px red solid; color: green; background-color: darkgray;">
      <%= flash[:notice] %>
    </div>
<% end %>

<h1>Редактирование шаблона</h1>
<p style="font-size:smaller;">последнее изменение: <%= distance_of_time_in_words_to_now(@mail_template.updated_at) %> назад</p>
<table>
  <tr>
    <td><%= button_to 'Протестировать', [:test, :admin, @mail_template] %></td>
    <td><%= button_to 'Удалить', [:admin, @mail_template], :confirm => 'Точно?', :method => :delete %></td>
  </tr>
</table>
<%= render :partial => "form" %>
